[data-tippy-root] {
  pointer-events: all !important;
}

.tippy-content .coursebody {
  height: 250px;
  overflow-y: scroll;
  padding: 10px !important;
  border: none !important;
}

.tippy-content .courseblocktitle {
  margin: 0 !important;
  padding: 10px !important;
  background-color: #203866 !important;
  color: #fff !important;
  font-weight: bold;
  font-size: 1.2em !important;
}

.tippy-content .courseblocktitle a {
  color: #fff;
}

.tippy-content .courseblock p.courseblockdesc,
.tippy-content .courseblock p.courseblockoffered,
.tippy-content .courseblock .course-section {
  margin: 0 0 10px 0;
}

.tippy-content .courseblock p.course-heading {
  margin: 0 0 0.25em -5px;
  padding: 3px 5px;
  background: #444;
}

.tippy-content .btn_toggleCoursebody {
  background: initial;
  border: none !important;
  padding: 0;
  width: 100%;
}

.tippy-content .btn-readless,
.tippy-content .btn-readmore {
  display: none;
}
